<footer class="bg-white border-y w-100">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <a href="/" class="d-flex align-items-center">
                    <img src="log.png" class="mr-3 h-16" alt="Logo" />
                </a>
            </div>
            <div class="col-md-4">
                <div class="row justify-content-between">
                    <div class="col-md-6">
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Follow us</h2>
                        <ul class="text-gray-500 font-medium">
                            <li class="mb-4">
                                <a href="https://github.com/Panda-rish" class="hover:underline text-blue-500" target="_blank" rel="noreferrer">Github</a>
                            </li>
                            <li>
                                <a href="/" class="hover:underline text-blue-500">Discord</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Legal</h2>
                        <ul class="text-gray-500 font-medium">
                            <li class="mb-4">
                                <a href="#" class="hover:underline text-blue-500">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline text-blue-500">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200" />
        <div class="text-center text-sm text-gray-500">
            © 2023
            <a href="https://github.com/Panda-rish" class="hover:underline text-blue-500">panda-ris</a>
            . All Rights Reserved.
        </div>
    </div>
</footer>
