<style>
  button{
        width: 95%;
        padding: 10px 20px;
        border-radius: 20px;
        margin-top: 10px;
        border: none;
        outline: none;
        
        box-shadow: 0 0 5px rgb(126,111,255);
        font-size: 16px;
        font-weight: 600;
        box-shadow: 0 0 10px rgb(0,0,0);
        background-color: rgb(88, 190, 227);
       
      }
      buttom:hover{
        background-color:rgb(219, 255, 111) ;
        color: rgba(225, 90, 11, 0.288);
      }
      h3 {
      
      text-decoration: underline;
    }

</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <h2><font color="grey">We</font><font color="yellow">Talk</font></h2>
    
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto"> <!-- Center the links -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><h3 >Home</h3></a>
        </li>
        
        
      </ul>
      <ul class="navbar-nav ml-auto"> <!-- Align user section to the right -->
        <% if (locals.user) { %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/blog/add-new">AddBlog</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" href="/user/logout">Logout</a>
          </li>
        <li class="nav-item">
          <div class="d-flex flex-column align-items-center">
            <img src="<%= locals.user.profileImageURL %>" width="40px" />
            <span class="text-white"><%= locals.user.fullName %></span>
           
          </div>
        </li>
        <% } else {%>
        <li class="nav-item">
          <button class="buttom ">
            <a class="nav-link" href="/user/signup">SignUp</a>
          </button>
         
        </li>
        <li class="nav-item">
          <button class="buttom">
            <a class="nav-link" href="/user/signin">Signin</a>
          </button>
          
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<% if (locals.error) { %>
<div class="container mt-4">
  <div class="alert alert-danger" role="alert"><%= locals.error %></div>
</div>
<% } %>
