<!-- about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <title>About Us</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f3f3f3;
      margin: 0;
      padding: 0;
    }

    .container {
      
      max-width: 800px;
      margin: 50px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    p {
      line-height: 1.6;
    }
  </style>
</head>
<body>

<%- include('./partials/nav') %>

<div class="container">
 <div>
  <h1>About Us</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae consectetur risus. Fusce efficitur sit amet elit ac congue. Aliquam erat volutpat. Donec sit amet elit id tortor bibendum aliquet.</p>
  <p>Nullam auctor, nunc sed scelerisque vestibulum, felis sapien interdum ligula, nec malesuada risus odio in tellus. Suspendisse potenti. Morbi pellentesque, justo eu tempor fermentum, elit ex interdum lorem, at varius purus arcu sed libero.</p>
</div>
<div >
 
  
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae consectetur risus. Fusce efficitur sit amet elit ac congue. Aliquam erat volutpat. Donec sit amet elit id tortor bibendum aliquet.</p>
  <p>Nullam auctor, nunc sed scelerisque vestibulum, felis sapien interdum ligula, nec malesuada risus odio in tellus. Suspendisse potenti. Morbi pellentesque, justo eu tempor fermentum, elit ex interdum lorem, at varius purus arcu sed libero.</p>
</div>
<div >
 
  
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae consectetur risus. Fusce efficitur sit amet elit ac congue. Aliquam erat volutpat. Donec sit amet elit id tortor bibendum aliquet.</p>
  <p>Nullam auctor, nunc sed scelerisque vestibulum, felis sapien interdum ligula, nec malesuada risus odio in tellus. Suspendisse potenti. Morbi pellentesque, justo eu tempor fermentum, elit ex interdum lorem, at varius purus arcu sed libero.</p>
</div>

</div>
<%- include('./partials/footer') %>

</body>
</html>
