<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <section class="about-section">
        <div class="container">
         
          <!-- Upper part with images -->
          
          <div class="row mb-4">
            <div class="col-md-4">
              <img src="log.png" alt="Image 1" class="img-fluid rounded">
            </div>
            <!-- <div class="col-md-4">
              <img src="/public/images/logo.jpeg" alt="Image 2" class="img-fluid rounded">
            </div>
            <div class="col-md-4">
              <img src="/public/uploads/1713042260270-anna-scarfiello-Pxf5syDVuxQ-unsplash.jpg" alt="Image 3" class="img-fluid rounded">
            </div>
          </div> -->
      
          <!-- Lower part with content -->
          <div class="row">
            <div class="col-md-8 mx-auto">
              <h2 class="text-center mb-4">About Our Site</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet purus quis justo
                scelerisque, ut molestie nisi vulputate. In nec tortor eget erat vestibulum volutpat.
                Vestibulum fringilla ex vel dui pretium, non placerat nisl eleifend. Vestibulum sit amet
                magna vel augue fringilla tincidunt. Phasellus non quam sit amet erat vehicula placerat.
                Sed in velit id nunc tempor tristique. Nulla facilisi. Vivamus placerat eros nec ligula
                malesuada, id egestas orci mattis. Vestibulum sollicitudin eget felis id tempor. Nullam
                dictum id enim vel ultrices. Nulla facilisi. Nam vel malesuada eros. Vivamus lobortis in
                lacus in bibendum. Morbi pharetra risus ut ligula efficitur fringilla. Nam vestibulum
                fermentum mauris, id finibus ex laoreet vel.
              </p>
              <p>
                Donec id massa leo. Nullam eget arcu sit amet justo rutrum convallis. Pellentesque id
                est sed ligula ullamcorper vestibulum. Phasellus volutpat mauris ut sapien aliquet, ac
                efficitur erat hendrerit. Duis ut aliquam nunc. Donec sodales interdum fermentum. Cras
                vel odio finibus, consectetur urna in, lobortis dolor. Mauris hendrerit libero velit, a
                auctor felis commodo nec. Phasellus maximus enim in risus vehicula, vel volutpat velit
                varius. Proin sagittis posuere felis, vitae bibendum lorem ultrices nec.
              </p>
            </div>
          
          </div>
        </div>
      </section>
      <%- include('./partials/scripts') %>
      <%- include('./partials/footer') %>
</body>
</html>